#code-with-shiny pre.sourceCode code {
    max-height: 1000px;
}

.mb-4{
    margin-bottom:1.5rem!important
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}